
.full-screen-wrap-black {
    color: #e6e6e6;
    background-color: #333333;
}

.full-screen-wrap-white {
    color: #000;
    background-color: #fff;
}

.div-controls {
    margin-top: 50px;
    margin-left: 25px;
}

.input-text { color: #000; }

.input-xs    { width: 50px;  }
.input-sm    { width: 100px; }
.input-med   { width: 200px; }
.input-large { width: 400px; }
.input-xlg   { width: 600px; }

.float-left-panel {
    float: left;
    margin-left: 25px;
    width: 300px;
}

.js-copytextarea {
    display: none;
}

