<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="template">
<head>
    <title>GA Stocks Master</title>
    <script type="text/javascript" src="/js/charts.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
    </script>
</head>

<body>

<!--
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
-->
    <div id="divFullScreenWrap" layout:fragment="content" class="full-screen-wrap-black">

        <div id="divControls" class="div-controls">

            <input type="hidden" id="hfDaysSelected" />

            <div id="divSymbolInput">
                <label for="txtSymbol">Symbol:&nbsp;</label><input id="txtSymbol" name="symbol" class="input-text" value="" />
                <label for="btn7Days">Trading Days:</label>
                <div class="btn-group" role="group">
                    <button id="btn7Days" onclick="return ajaxBuildAllCharts(7);" class="btn btn-primary">7 Days</button>
                    <button id="btn30Days" onclick="return ajaxBuildAllCharts(30);" class="btn btn-primary">30 Days</button>
                    <button id="btn60Days" onclick="return ajaxBuildAllCharts(60);" class="btn btn-primary">60 Days</button>
                    <button id="btn90Days" onclick="return ajaxBuildAllCharts(90);" class="btn btn-primary">90 Days</button>
                    <button id="btn180Days" onclick="return ajaxBuildAllCharts(180);" class="btn btn-primary">180 Days</button>
                    <button id="btn1Year" onclick="return ajaxBuildAllCharts(365);" class="btn btn-primary">1 Year</button>
                    <button id="btn2Years" onclick="return ajaxBuildAllCharts(730);" class="btn btn-primary">2 Years</button>
                    <button id="btn3Years" onclick="return ajaxBuildAllCharts(1095);" class="btn btn-primary">3 Years</button>
                    <button id="btn4Years" onclick="return ajaxBuildAllCharts(1460);" class="btn btn-primary">4 Years</button>
                    <button id="btn5Years" onclick="return ajaxBuildAllCharts(1825);" class="btn btn-primary">5 Years</button>
                    <button id="btnAll"  class="btn btn-primary" onclick="return ajaxBuildAllCharts();">All</button>
                </div>
                <button id="btnAdvancedOptions" data-toggle="collapse" data-target="#divAdvancedOptions" class="btn btn-warning">Advanced Options</button>
            </div>

            <div id="divAdvancedOptions" class="collapse">

                <div id="divAdvancedDateFilter" style="margin-top: 10px;">
                    <label for="txtFromDate">From Date:</label><input id="txtFromDate" class="input-text" />
                    <label for="txtToDate">To Date:</label><input id="txtToDate" class="input-text" />
                    &nbsp;<input id="btnFilterDate" type="button" class="btn btn-primary" value="Filter" onclick="return ajaxBuildAllCharts();" />
                    &nbsp;&nbsp;&nbsp;
                    &nbsp;<input id="btnResetDateFilter" type="button" class="btn btn-warning" value="Reset" onclick="return resetDateFilter();" />
                </div>

                <div id="divMACDOptions" style="margin-top: 25px;">
                    <label for="txtEMAShort">EMA Short:</label>&nbsp;
                    <input id="txtEMAShort" value="12" style="width: 50px;" class="input-text" />
                    <label for="txtEMALong">EMA Long:</label>&nbsp;
                    <input id="txtEMALong" value="26" style="width: 50px;" class="input-text" />
                </div>

                <div id="divChartingOptions">
                    <label for="ckSmoothed">Smoothed:</label>&nbsp;
                    <input id="ckSmoothed" type="checkbox" value="Smooth Line" />
                    <label for="ckShowEMA">Show EMA?</label>:&nbsp;
                    <input id="ckShowEMA" type="checkbox" value="Show EMA?" />
                </div>

                <div id="divSectorSelection">
                    <label for="ckShowSector">Show Sector Average?</label>:&nbsp;
                    <input id="ckShowSector" type="checkbox" value="Show Sector Average" onclick="return ajaxBuildAllCharts('Reload');" />
                </div>

                <div id="divSimulationOptions">
                    <select id="ddlSimulationList" class="input-text" onchange="return reloadChart();">
                        <option>** Select Simulation **</option>
                    </select>
                </div>

            </div>

        </div>

        <div style="margin-top: 25px;">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#divQuoteChart" aria-controls="divQuoteChart" role="tab" data-toggle="tab" onclick="reloadChart();">Quote</a></li>
                <li role="presentation"><a href="#divSimulationData" aria-controls="divSimulationData" role="tab" data-toggle="tab">Simulation Data</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="divQuoteChart">
                    <div id="quoteChartDiv" style="width: 100%; height: 400px;"></div>
                    <div id="rsiChartDiv" style="width: 100%; height: 400px;"></div>
                    <div id="macdChartDiv" style="width: 100%; height: 400px;"></div>
                    <div id="obvChartDiv" style="width: 100%; height: 400px;"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="divSimulationData" style="width: 100%; height: 700px;">
                    <table id="tblSimulationData"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-pagination="true"
                           data-query-params="queryParams">
                        <thead>
                        <tr>
                            <th data-field="number">#</th>
                            <th data-field="shares" data-sortable="true">Shares</th>
                            <th data-field="cost" data-sortable="true" data-formatter="currencyFormatter">Cost</th>
                            <th data-field="net_proceeds" data-sortable="true" data-formatter="currencyFormatter">Net Proceeds</th>
                            <th data-field="purchase_price" data-sortable="true" data-formatter="currencyFormatter">Purchase Price</th>
                            <th data-field="purchase_date" data-sortable="true">Purchase Date</th>
                            <th data-field="sell_price" data-sortable="true" data-formatter="currencyFormatter">Sell Price</th>
                            <th data-field="sell_date" data-sortable="true">Sell Date</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>

    </div>

</body>
</html>