<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="template">
<head>
    <title>GA Stocks Symbols</title>
    <script type="text/javascript" src="/js/symbols.js"></script>
</head>

<body>

    <div id="divFullScreenWrap" layout:fragment="content" class="full-screen-wrap-white">

        <br/>
        <div id="divControls" class="div-controls">
            <label for="txtMin52WeekPrice">Min 52-Week Price:</label>&nbsp;<input id="txtMin52WeekPrice" class="input-xs" />&nbsp;&nbsp;
            <label for="txtMax52WeekPrice">Max 52-Week Price:</label>&nbsp;<input id="txtMax52WeekPrice" class="input-xs" />&nbsp;&nbsp;
            <button id="btnRefresh" class="btn btn-success" onclick="return loadSymbolDropDown();">Refresh</button>
            <button id="btnCopySymbolList" class="btn btn-info" onclick="promptCopySymbolList();">Copy Symbols</button>
        </div>

        <table id="tblSymbols"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-show-export="true"
               data-pagination="true"
               data-query-params="queryParams">
            <thead>
                <tr>
                    <th data-field="symbol" data-sortable="true" data-formatter="linkFormatter">Symbol</th>
                    <th data-field="company_name" data-sortable="true">Company</th>
                    <th data-field="min_price" data-sortable="true" data-formatter="currencyFormatter">Minimum Price</th>
                    <th data-field="max_price" data-sortable="true" data-formatter="currencyFormatter">Maximum Price</th>
                    <th data-field="avg_price" data-sortable="true" data-formatter="currencyFormatter">Average Price</th>
                    <th data-field="avg_price_stdev" data-sortable="true" data-formatter="currencyFormatter">Average Price StDev</th>
                    <th data-field="max_price_stdev" data-sortable="true" data-formatter="currencyFormatter">Maximum Price StDev</th>
                    <th data-field="sector" data-sortable="true">Sector</th>
                    <th data-field="industry_category" data-sortable="true">Industry</th>
                    <th data-field="industry_sub_category" data-sortable="true">Industry Sub-Category</th>
                </tr>
            </thead>
        </table>


        <div id="quoteChartDiv" style="width: 100%; height: 400px;"></div>
        <div id="macdChartDiv" style="width: 100%; height: 200px;"></div>

    </div>

</body>

</html>