<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>GA Stocks Symbols</title>
    <link rel="stylesheet" href="/css/application.css" />
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="/js/application.js"></script>
    <script type="text/javascript" src="/js/formatters.js"></script>
    <script type="text/javascript" src="/js/symbols.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
    </script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
    <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>

    <!-- Bootstrap Table -->
    <link rel="stylesheet" href="/css/bootstrap_table/bootstrap-table.min.css" />
    <script type="text/javascript" src="/js/bootstrap_table/bootstrap-table.min.js"></script>

    <link rel="stylesheet" href="/css/jquery-ui-1.12.1.min.css" />
</head>

<body>

    <div id="divFullScreenWrap" class="full-screen-wrap-white">

        <div id="divControls">
            <label for="txtMin52WeekPrice">Min 52-Week Price:</label>&nbsp;<input id="txtMin52WeekPrice" class="input-xs" />&nbsp;&nbsp;
            <label for="txtMax52WeekPrice">Max 52-Week Price:</label>&nbsp;<input id="txtMax52WeekPrice" class="input-xs" />&nbsp;&nbsp;
            <button id="btnRefresh" class="btn btn-success" onclick="return loadSymbolDropDown();">Refresh</button>
        </div>

        <table id="tblSymbols"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-show-export="true"
               data-pagination="true"
               data-query-params="queryParams">
            <thead>
            <tr>
                <th data-field="symbol" data-sortable="true">Symbol</th>
                <th data-field="description" data-sortable="true">Description</th>
                <th data-field="exchange_market_short_name" data-sortable="true">Exchange Market</th>
                <th data-field="min_price" data-sortable="true" data-formatter="currencyFormatter">Minimum Price</th>
                <th data-field="max_price" data-sortable="true" data-formatter="currencyFormatter">Maximum Price</th>
                <th data-field="avg_price" data-sortable="true" data-formatter="currencyFormatter">Average Price</th>
            </tr>
            </thead>
        </table>


        <div id="quoteChartDiv" style="width: 100%; height: 400px;"></div>
        <div id="macdChartDiv" style="width: 100%; height: 200px;"></div>

    </div>

</body>
</html>