<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>GAStocks :: Web</title>

    <th:block layout:fragment="scripts">
        <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui-1.12.1.min.js"></script>
        <script type="text/javascript" src="/js/application.js"></script>
        <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap_table/bootstrap-table.min.js"></script>
        <script type="text/javascript" src="/js/formatters.js"></script>
        <script type="text/javascript" src="/js/ajax_loader.js"></script>
    </th:block>

    <th:block layout:fragment="stylesheets">
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/bootstrap_table/bootstrap-table.min.css" />
        <link rel="stylesheet" href="/css/jquery-ui-1.12.1.min.css" />
        <link rel="stylesheet" href="/css/application.css" />
    </th:block>

</head>

<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header navbar-brand">
                GAStocks
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/master}">Master</a></li>
                    <li><a th:href="@{/simulation}">Simulation</a></li>
                    <li><a th:href="@{/symbols}">Symbols</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><div id="divLoading" class="btn link">Loading, please wait...</div></li>
                </ul>
            </div>
        </div>
    </nav>

    <div layout:fragment="content">Content</div>

</body>

</html>


<!-- https://medium.com/@trevormydata/week-5-thymeleaf-with-spring-mvc-rapid-introduction-to-the-essentials-799f1fba8c07 -->