<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>GAStocks :: Web</title>
</head>

<body>

    <p>This is in the template</p>
    <div layout:fragment="content">
        Page content goes here
    </div>

    <th:block layout:fragment="scripts">&nbsp;</th:block>

</body>

</html>


<!-- https://medium.com/@trevormydata/week-5-thymeleaf-with-spring-mvc-rapid-introduction-to-the-essentials-799f1fba8c07 -->